<template>
  <Layout>
    <div class="container">
        <h1>404 - not found</h1>
        <a class="return" href="/"><span>»</span> return home</a>
    </div>
  </Layout>
</template>

<style scoped>

    .container {
        padding: 2em;
    }

    .return {
        font-size: 1.2em;
        font-weight: 700;
    }

    .return{
        vertical-align: middle;
    }

</style>