<template>
  <Layout>
    <Banner>
        <g-image :src="$page.content.banner" />
    </Banner>
    <Article>
      <div v-html="$page.content.content"></div>
    </Article>
  </Layout>
</template>

<page-query>
query Content {
    content: content(id: "cardio") {
      banner
      content
    }
}
</page-query>


<script>
export default {
  metaInfo: {
    title: 'Cardio'
  }
}
</script>