<template>
  <Layout>
    <Banner>
      <g-image :src="$page.content.banner" />
    </Banner>
    <Article>
      <h1>Testimonials</h1>
      <div class="testimonials">
        <div v-for="edge in $page.testimonials.edges" :key="edge.node.id">
          <Testimonial v-bind:testimonial="edge.node" />
        </div>
      </div>
    </Article>
  </Layout>
</template>

<page-query>
query Testimonials {
    testimonials: allTestimonial(sortBy: "id", order: DESC) {
        edges {
          node {
            id
            quote
            author
          }
        }
    },
    content: content(id: "testimonials") {
      banner
    }
}
</page-query>

<script>
import Testimonial from '~/components/Testimonial.vue';

export default {
  metaInfo: {
    title: 'Testimonials'
  },
  components: {
    Testimonial
  } 
}
</script>

<style scoped>

  h1, .testimonials{
    text-align: center;
  }

</style>

