<template>
  <Layout>
    <Banner>
        <g-image :src="$page.content.banner" />
    </Banner>
    <Article>
        <div v-html="$page.content.content"></div>
        <section class="bottom">
            <div class="donate">
                <div><a target="_blank" href="https://venmo.com/Dana-Adpgar"><div class="donate-button">Donate</div></a></div>
            </div>
            <div class="zoom">
                <div>
                    <a target="_blank" href="https://zoom.us/wc/join/8064911702">
                        <g-image src="~/assets/zoom.png" />
                    </a>
                </div>
                <p><span class="bold">access number:</span> 806 491 1702</p>
                <p><span class="bold">password:</span> 950352</p>
            </div>
        </section>
    </Article>
  </Layout>
</template>

<page-query>
query Content {
    content: content(id: "yoga") {
      banner
      content
    }
}
</page-query>

<script>
export default {
  metaInfo: {
    title: 'Yoga'
  }
}
</script>

<style scoped>

    .zoom img {
        width: 80px;
    }

    .zoom a > * {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.3em;
        font-weight: 700;
    }

    .bold {
        font-weight: 700;
    }

    .zoom {
        text-align: center;
        margin: 0 auto;
    }

    .donate-button {
        background-color: #423731;
        display: inline-block;
        padding: 0.6em 2em;
        border-radius: 0.3em;
        margin: 1em 0;
        border: 2px solid #baaea7;
        font-size: 1.2em;
        font-weight: 700;
    }

    .donate-button:hover {
        border: 2px solid #dfcec4;
    }

    .zoom p {
        margin: 0.5em;
        line-height: 1.3em;
    }

    .bottom{
        text-align: center;
    }

    .bottom > div{
        display:inline-block;
        vertical-align: top;
        margin: 2em 3em;
    }

</style>