<template>
    <div class="content">
        <slot/>
    </div>
</template>


<style>

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.content{
  max-width: 980px;
  margin: 0 auto;
  padding: 0 2em 2em 2em;
}

.content h1{
  font-family: 'Fjalla One', sans-serif;
}

.content p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 1.8em;
  margin: 1em 0 1.5em 0;
}

</style>