<template>
    <div class="banner">
        <slot/>
    </div>
</template>

<style scoped>

.banner{
    max-width: 980px;
    margin: 0 auto;
    padding: 2em 2em 0 2em;
    transition: padding 600ms;
}

img{
    width: 100%;
}


p{
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 744px) {

  .banner{
      padding: 0;
  }


}

</style>