<template>
    <footer>
        <section class="top">
            <div>
                <p>Vermont</p>•
                <p><a href="tel:8023380192">(802) 338-0192</a></p>•
                <p><a href="mailto:personal.training.vt@gmail.com">personal.training.vt@gmail.com</a></p>
            </div>
        </section>
        <div class="bottom-wrapper">
            <section class="bottom">
                <div><g-image src="~/assets/logo.png" width="100" /></div>
                <div><h1>Private Personal Training</h1></div>
                <div>
                    <p>Creamery Building, Route 7, Shelburne, VT 05482</p>
                </div>
                 <div>
                    <p><span class="credit">Website design by: <a href="mailto:devsword7@gmail.com">William Sutton</a></span></p>
                    <p><span class="credit">Logo design by: <a target="_blank" href="https://www.flaticon.com/authors/freepik">Freepick</a></span></p>
                </div>
            </section>
        </div>
    </footer>
</template>

<style scoped>

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Pragati+Narrow&display=swap');

section{
    text-align: center;
    color: #ffffff;
    padding: 1em;
    font-size: 1.1em;
    font-family: 'Nunito Sans', sans-serif;
}

.top p{
    margin: 0 2em;
    display: inline-block;
}

.top {
    background-color: #423731;
}

.bottom {
    padding: 2em;
    background-color: #201d1c;
}

h1 {
    font-weight: 700;
    font-size: 1.2em;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.credit{
    font-size: 0.95em;
}

@media screen and (max-width: 555px) {

  .top p{
    display: block;
    line-height: 1em;
    }

}

</style>

