<template>
  <header>
    <section class="header">
      <g-link to="/">
        <div class="brand">
          <g-image alt="Private Personal Training" src="~/assets/logo.png" width="54" /><span>{{ $static.metadata.siteName }}</span>
        </div>
      </g-link>
      <nav class="small-nav">
        <div id="nav-button" class="nav-button" v-on:click="toggleNav">☰</div>
        <div id="expand-nav" class="expand-nav-closed">
          <g-link class="nav__link" to="/"><span>Home</span></g-link>
          <g-link class="nav__link" to="/training/"><span>Training</span></g-link>
          <g-link class="nav__link" to="/yoga/"><span>Yoga</span></g-link>
          <g-link class="nav__link" to="/cardio/"><span>Cardio</span></g-link>
          <g-link class="nav__link" to="/testimonials/"><span>Testimonials</span></g-link>
        </div>
      </nav>
      <nav class="nav">
        <g-link class="nav__link" to="/"><span>Home</span></g-link>
        <g-link class="nav__link" to="/training/"><span>Training</span></g-link>
        <g-link class="nav__link" to="/yoga/"><span>Yoga</span></g-link>
        <g-link class="nav__link" to="/cardio/"><span>Cardio</span></g-link>
        <g-link class="nav__link" to="/testimonials/"><span>Testimonials</span></g-link>
      </nav>
    </section>
  </header>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>


<script>
export default {
  methods: {
    toggleNav: function (event) {
      var topnav = document.getElementById("expand-nav");
    	if (topnav.className === "expand-nav-closed") {
      	topnav.className = "expand-nav";
    	} else {
        	topnav.className = "expand-nav-closed";
    	}
    }
  }
}

</script>


<style scoped>

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Pragati+Narrow&display=swap');

header{
  background-color:#201d1c;
  color: #ffffff;
  width: 100%;
}

header > section{
  margin: 0 auto;
  padding: 0 2em;
}

header a{
  text-decoration: none;
  color: #ffffff;
}

nav a{
  font-size: 1.1em;
  font-family: 'Nunito Sans', sans-serif;
}

nav a:hover, nav a:focus, .nav__link.active--exact.active{
  text-decoration: underline;
}


.brand img, .brand span{
  vertical-align: middle;
}

.brand span{
  margin: 1em;
  font-weight: 700;
  font-size: 1.2em;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 5em;
  margin: 0 auto;
}

.nav__link span {
  margin-left: 1.5em;
}

.small-nav{
  display: none;
}

.expand-nav-closed {
  display: none;
}

.nav-button {
  font-size: 1.6em;
  font-weight: 700;
  cursor: pointer;
}

.expand-nav{
  position: absolute;
  top: 5em;
  background: #837784;
  left: 0;
  width: 100%;
}

.expand-nav a{
  display: block;
  line-height: 3em;
}

.expand-nav .nav__link.active--exact.active{
  text-decoration: none;
}

.expand-nav a:hover, .expand-nav a:focus{
  text-decoration: none;
  background-color: #dfd9df;
  color: #272427;
}


@media screen and (max-width: 963px) {

  .nav{
    display: none;
  }

  .small-nav{
    display: inline-block;
  }

}

.brand span, .brand img, .header, .nav-button {
  transition: font-size 600ms, margin 600ms, padding 600ms, width 600ms;
}

@media screen and (max-width: 444px) {

  .brand span {
    font-size: 1em;
    margin: 0 0.6em;
  }

  .brand img {
    width: 45px;
  }

  .header {
    padding: 0 1em 0 0.5em;
  }

  .nav-button {
    font-size: 1.4em;
  }

}


</style>