<template>
    <div class="testimonial">
        <p class="quote">
            "{{testimonial.quote}}"<span class="author bold"> - {{testimonial.author}}</span>
        </p>
    </div>
</template>

<script>
export default {
  name: "Testimonial",
  props: ["testimonial"]
}
</script>

<style scoped>

    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

    .testimonial {
        margin: 0 0 3em 0;
        border-bottom: 1px solid #1e1d1e;
        padding-bottom: 1.5em;
    }

    .testimonial p{
        font-family: 'Lato', sans-serif;
        font-size: 1.1em;
    }

    .quote {
        position: relative;
        text-align: left;
    }

    .bold {
        font-weight: 700;
    }

    .author {
        position: absolute;
        bottom: -1.5em;
        right: 0em;    
    }

</style>