<template>
  <div>
    <Header/>
    <div class="container">
      <div class="main">
      <slot/>
    </div>
    </div>
    <Footer/>
  </div>
</template>

<script>

import Header from '~/components/Header.vue';
import Footer from '~/components/Footer.vue';

export default {
  components: {
    Header,
    Footer
  }
}
</script>


<style>

  html{
    margin:0;
    padding:0;
  }

  body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    margin:0;
    padding:0;
    line-height: 1.5;
    background-color: #201d1c;
  }

  .container {
    margin: 0;
    background-color: #ffffff;
    color: #000000;
  }

  /*
  .main {
    animation: fadeIn 400ms ease;
    -webkit-animation: fadeIn 400ms ease;
  }
  */

  a {
    color: #baaea7;
    text-decoration: none;;
  }

  a:hover, a:focus{
    color: #dfcec4;
    cursor: pointer;
  }

  img.cover {
    width: 100%;
  }

  @keyframes fadeIn{
    0% {opacity: 0;}
    10% {opacity: 10%;}
    20% {opacity: 20%;}
    30% {opacity: 30%;}
    40% {opacity: 40%;}
    50% {opacity: 50%;}
    60% {opacity: 60%;}
    70% {opacity: 70%;}
    80% {opacity: 80%;}
    90% {opacity: 90%;}
    100% {opacity: 100%;}
  }

</style>
